[package]
name = "aumate-core-shared"
version = "0.3.0"
edition = "2024"

[dependencies]
thiserror = { workspace = true }
serde = { workspace = true }
uuid = { workspace = true }

[dev-dependencies]

