.layerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  cursor: crosshair;
  user-select: none;
}

.drawLayerWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.drawToolbarCursor {
  position: absolute;
  pointer-events: none;
  display: none;
}
